@charset "utf-8";
#navbar
{ 
	position:top;
	backgroundcolor:green;
	width:70%;
	height:10vh;
}
.XMLID_299_
{
	background : #CA3829;
	background : rgba(202, 56, 41, 1);
	position : absolute ;
	left : -4099px;
	top : 1874px;
	width : 157px;
	height : 133px;
}
.st1
{
	font-family : �з���;
	font-size : 117px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.XMLID_78_
{
	background : #CA3829;
	background : rgba(202, 56, 41, 1);
	position : absolute ;
	left : -4087px;
	top : 1094px;
	width : 157px;
	height : 133px;
}
.st2
{
	font-family : Adobe ���� Std;
	font-size : 49px;
	color : #FBB03B;
	color : rgb(251, 176, 59);
	text-outline : #FBB03B;
	text-outline : rgb(251, 176, 59);
}
.XMLID_783_
{
	background-image : url(XMLID_783_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4314px;
	top : 1885px;
	width : 569px;
	height : 940px;
}
.XMLID_1616_
{
	background-image : url(XMLID_1616_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4259px;
	top : 2530px;
	width : 444px;
	height : 524px;
}
.XMLID_782_
{
	background-image : url(XMLID_782_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4319px;
	top : 961px;
	width : 574px;
	height : 940px;
}
.st
{
	font-family : �з���;
	font-size : 117px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.XMLID_2000_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 10px;
	position : absolute ;
	left : 661px;
	top : 2928px;
	width : 246px;
	height : 246px;
}
.XMLID_1800_
{
	background-image : url(XMLID_1800_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 291px;
	top : 232px;
	width : 1368px;
	height : 809px;
}
.XMLID_1799_
{
	background : #808080;
	background : rgba(128, 128, 128, 1);
	position : absolute ;
	left : -3805px;
	top : 315px;
	width : 59px;
	height : 67px;
}
.XMLID_2248_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 10px;
	position : absolute ;
	left : 1013px;
	top : 2928px;
	width : 246px;
	height : 246px;
}
.XMLID_790_
{
	background-image : url(XMLID_790_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4293px;
	top : 202px;
	width : 65px;
	height : 159px;
}
.XMLID_11_
{
	background : #CA3829;
	background : rgba(202, 56, 41, 1);
	position : absolute ;
	left : -4100px;
	top : 570px;
	width : 157px;
	height : 133px;
}
.XMLID_784_
{
	background-image : url(XMLID_784_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4314px;
	top : 2805px;
	width : 569px;
	height : 290px;
}
.XMLID_416_
{
	background-image : url(XMLID_416_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4216px;
	top : 186px;
	width : 403px;
	height : 299px;
}
.XMLID_417_
{
	background : #CA3829;
	background : rgba(202, 56, 41, 1);
	position : absolute ;
	left : 1735px;
	top : 602px;
	width : 134px;
	height : 157px;
}
.XMLID_1803_
{
	background-image : url(XMLID_1803_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 656px;
	top : 1831px;
	width : 610px;
	height : 257px;
}
.XMLID_2254_
{
	background : #141C0B;
	background : rgba(20, 28, 11, 1);
	opacity : 0.8;
	position : absolute ;
	left : 39px;
	top : 232px;
	width : 217px;
	height : 369px;
	filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
}
.XMLID_1534_
{
	background-image : url(XMLID_1534_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4243px;
	top : 2062px;
	width : 423px;
	height : 475px;
}
.XMLID_821_
{
	background-image : url(XMLID_821_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4299px;
	top : 84px;
	width : 73px;
	height : 97px;
}
.XMLID_801_
{
	background : #CA3829;
	background : rgba(202, 56, 41, 1);
	position : absolute ;
	left : 870px;
	top : 1217px;
	width : 157px;
	height : 133px;
}
.XMLID_262_
{
	background-image : url(XMLID_262_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -10519px;
	top : 1482px;
	width : 25643px;
	height : 5792px;
}
.XMLID_398_
{
	background : #ED1C24;
	background : rgba(237, 28, 36, 1);
	position : absolute ;
	left : 3422px;
	top : 4483px;
	width : 301px;
	height : 304px;
}
.XMLID_405_
{
	background-image : url(XMLID_405_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2555px;
	top : 4620px;
	width : 156px;
	height : 156px;
}
.XMLID_440_
{
	background : #FF3131;
	background : rgba(255, 49, 49, 1);
	position : absolute ;
	left : 2926px;
	top : 4627px;
	width : 141px;
	height : 141px;
}
.XMLID_130_
{
	background-image : url(XMLID_130_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -8225px;
	top : 1271px;
	width : 16384px;
	height : 1103px;
}
.XMLID_292_
{
	background-image : url(XMLID_292_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -3605px;
	top : 4890px;
	width : 16384px;
	height : 1710px;
}
.XMLID_1580_
{
	position : absolute ;
	left : -3621px;
	top : 5424px;
	width : 468px;
	height : 304px;
}
.XMLID_62_
{
	background-image : url(XMLID_62_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -8559px;
	top : 4895px;
	width : 20013px;
	height : 1195px;
}
.XMLID_145_
{
	background-image : url(XMLID_145_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4252px;
	top : 723px;
	width : 453px;
	height : 318px;
}
.XMLID_2263_
{
	background-image : url(XMLID_2263_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 58px;
	top : 266px;
	width : 191px;
	height : 301px;
}
.XMLID_263_
{
	background-image : url(XMLID_263_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -15548px;
	top : 1316px;
	width : 20013px;
	height : 1053px;
}
.XMLID_97_
{
	background : #FFFF00;
	background : rgba(255, 255, 0, 1);
	position : absolute ;
	left : -407px;
	top : 4327px;
	width : 120px;
	height : 300px;
}
.XMLID_158_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : -566px;
	top : 3519px;
	width : 81px;
	height : 803px;
}
.XMLID_157_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : -566px;
	top : 5741px;
	width : 81px;
	height : 803px;
}
.XMLID_60_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : 291px;
	top : -311px;
	width : 1370px;
	height : 104px;
}
.XMLID_52_
{
	background : #FFFF00;
	background : rgba(255, 255, 0, 1);
	position : absolute ;
	left : -391px;
	top : 983px;
	width : 120px;
	height : 300px;
}
.XMLID_54_
{
	background : #FFFF00;
	background : rgba(255, 255, 0, 1);
	position : absolute ;
	left : -387px;
	top : 2111px;
	width : 120px;
	height : 300px;
}
.XMLID_107_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : 3471px;
	top : -297px;
	width : 1370px;
	height : 104px;
}
.XMLID_90_
{
	background : #FFFF00;
	background : rgba(255, 255, 0, 1);
	position : absolute ;
	left : -407px;
	top : 3207px;
	width : 120px;
	height : 300px;
}
.XMLID_27_
{
	background : #808080;
	background : rgba(128, 128, 128, 1);
	position : absolute ;
	left : 874px;
	top : 4597px;
	width : 157px;
	height : 133px;
}
.XMLID_853_
{
	background-image : url(XMLID_853_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 317px;
	top : 6289px;
	width : 1391px;
	height : 837px;
}
.st3
{
	font-family : Adobe ���� Std;
	font-size : 105px;
	letter-spacing : 21px;
	color : #FBB03B;
	color : rgb(251, 176, 59);
	text-outline : #FBB03B;
	text-outline : rgb(251, 176, 59);
}
.XMLID_47_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : -589px;
	top : 2408px;
	width : 81px;
	height : 803px;
}
.XMLID_131_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : -566px;
	top : 4636px;
	width : 81px;
	height : 803px;
}
.XMLID_154_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : -580px;
	top : 173px;
	width : 81px;
	height : 803px;
}
.XMLID_21_
{
	background-image : url(XMLID_21_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 4932px;
	top : 233px;
	width : 1350px;
	height : 807px;
}
.XMLID_28_
{
	background : #808080;
	background : rgba(128, 128, 128, 1);
	position : absolute ;
	left : 877px;
	top : 5524px;
	width : 157px;
	height : 133px;
}
.XMLID_418_
{
	background : #808080;
	background : rgba(128, 128, 128, 1);
	position : absolute ;
	left : 863px;
	top : 6099px;
	width : 157px;
	height : 133px;
}
.XMLID_46_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : -583px;
	top : 1280px;
	width : 81px;
	height : 803px;
}
.XMLID_25_
{
	background : #EFF819;
	background : rgba(239, 248, 25, 1);
	position : absolute ;
	left : 876px;
	top : 2314px;
	width : 157px;
	height : 133px;
}
.XMLID_26_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 883px;
	top : 3395px;
	width : 157px;
	height : 133px;
}
.XMLID_193_
{
	background-image : url(XMLID_193_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 62px;
	top : 25px;
	width : 187px;
	height : 153px;
}
.st4
{
	font-family : Microsoft JhengHei UI;
	font-size : 115px;
	letter-spacing : 34.5px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.XMLID_888_
{
	background-image : url(XMLID_888_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 291px;
	top : 3679px;
	width : 1379px;
	height : 815px;
}
.XMLID_91_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	opacity : 0.79;
	position : absolute ;
	left : 368px;
	top : 5468px;
	width : 215px;
	height : 157px;
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.Alpha(opacity=79) ;
}
.XMLID_41_
{
	background-image : url(XMLID_41_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -3px;
	top : 3482px;
	width : 1921px;
	height : 1149px;
}
.XMLID_7_
{
	background-image : url(XMLID_7_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -5px;
	top : 4632px;
	width : 1913px;
	height : 1187px;
}
.XMLID_854_
{
	background-image : url(XMLID_854_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 291px;
	top : 1408px;
	width : 1379px;
	height : 815px;
}
.XMLID_8_
{
	background-image : url(XMLID_8_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4px;
	top : 6054px;
	width : 1921px;
	height : 1187px;
}
.XMLID_897_
{
	background-image : url(XMLID_897_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 291px;
	top : 2521px;
	width : 1379px;
	height : 815px;
}
.XMLID_839_
{
	background-image : url(XMLID_839_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0px;
	top : 2px;
	width : 1920px;
	height : 1276px;
}
.XMLID_201_
{
	background : #141C0B;
	background : rgba(20, 28, 11, 1);
	opacity : 0.8;
	position : absolute ;
	left : 0px;
	top : 2px;
	width : 1919px;
	height : 173px;
	filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
}
.XMLID_227_
{
	background-image : url(XMLID_227_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -1px;
	top : 0px;
	width : 1921px;
	height : 1184px;
}
.XMLID_788_
{
	background-image : url(XMLID_788_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -2px;
	top : 2407px;
	width : 1914px;
	height : 1077px;
}
.XMLID_249_
{
	background-image : url(XMLID_249_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -1px;
	top : 1182px;
	width : 1920px;
	height : 1226px;
}
.XMLID_98_
{
	background : #FFFF00;
	background : rgba(255, 255, 0, 1);
	position : absolute ;
	left : -447px;
	top : 5440px;
	width : 120px;
	height : 300px;
}
.XMLID_191_
{
	background-image : url(XMLID_191_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2019px;
	top : 232px;
	width : 1371px;
	height : 809px;
}
.XMLID_243_
{
	background-image : url(XMLID_243_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3471px;
	top : 233px;
	width : 1371px;
	height : 807px;
}
.XMLID_109_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : 4910px;
	top : -285px;
	width : 1370px;
	height : 104px;
}
.XMLID_861_
{
	background-image : url(XMLID_861_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -7149px;
	top : 7119px;
	width : 16384px;
	height : 8351px;
}
.XMLID_105_
{
	background : #F7931E;
	background : rgba(247, 147, 30, 1);
	position : absolute ;
	left : 2019px;
	top : -289px;
	width : 1370px;
	height : 104px;
}
.XMLID_781_
{
	background-image : url(XMLID_781_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -4319px;
	top : 31px;
	width : 568px;
	height : 940px;
}
