.cross{
    position: absolute;
    margin-left:0;
    margin-top:0;  
    width:150px;
    height:150px;
    background-color: light blue;
}

.cross .line1, .cross .line2, .cross .line3{
    width:100px;
    height:10px;
    border:solid 1px black;
    position: absolute; 
    top:50%;
    left:10%;
}
.cross .line1{
    width:100px;
    height:10px;
    border:solid 1px black;
    top:30%;
    left:10%;
    transform:rotate(45deg);
    transform:translate(-50%,-50%);
    
}
.cross .line2{
    width:100px;
    height:10px;
    border:solid 1px black;
    left:10%;
    transform:rotate(-45deg);
    transform:translate(-50%,-50%);
}
.cross .line3{
    width:100px;
    height:10px;
    border:solid 1px black;
    top:70%;
    left:10%;
    transform:rotate(-45deg);
    transform:translate(-50%,-50%);
}
   .menu {
            position: fixed;
            transform: translateX(-280px);
            transition: 1s all;
            height: 100vh;
            width: 300px;
            background-color: rgb(173, 169, 169,0.5);
            text-align: center;
            line-height: 50px;
            
        }

        .navbar {
            position: absolute;
            left: 0px;
            background-color: rgb(173, 169, 169,0.5);

        }
        .navbar .active{
            left:0px;}

        body {
            overflow-x: hidden;
        }

        body.active .menu {
            transform: translateX(0);
        }

        .container {
            transition: 1s all;
        }

        body.active .container {
            transform: translateX(280px);
        }
* {
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

htmy, body {
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	max-width: width 100%;
	margin: 0 auto;
}

.sectionTitle {
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
	margin: 0;
}

.sectionSmallTitle {
	text-align: center;
	font-size: 16px;
}

.chocolateType {
	display: inline-block;
	margin: 50px auto;
}

.chocolateType .chocolate {
	
	margin: 5px;
	text-align: center;
	
}

.chocolateType .chocolate img{
	border-radius: 50%;
	transition-duration: 0.5s;
	width:100vh;
}

.chocolateType .chocolate h4 {
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	opacity: 0;
	color: white;
	transition-duration: 0.5s;
}

.chocolateType .chocolate:hover img {
	filter: brightness(50%);
}

.chocolateType .chocolate:hover h4{
	opacity: 1;
}

.story {
	background-color: #eee;
}

.story .container .left, .story .container .right {
	width: 50%;
	display: inline-block;
	margin-bottom: 50px;
}

.story .container .storyTitle {
	color: black;
	margin-bottom: 30px;
}

.story .container .storyContent {
	padding: 0 20px;
	margin-bottom: 40px;
	letter-spacing: 1px;
}

.ask {
	background-color: rgba(7,209,251,0.96);
	color: white;
}

.askInput {
	width: 70%;
	height: 30px;
	border-radius: 10px;
	margin-bottom: 70px;
	font-size: 20px;
}

@media screen and (min-width: 721px) and (max-width: 1023px){
	body {
		margin-top: 0px;
	}}
@media screen and (max-width:720px)  {
		body {
			margin: 0px;
		}}